<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3"></script>
    <title>Dynamic components</title>
    <style>
      :root {
        color-scheme: dark;
      }
    </style>
  </head>
  <body>
    <h1>component select usando `:is`</h1>
    <div id="app">
      <select v-model="opt">
        <option value="songs">Songs</option>
        <option value="movies">Movies</option>
      </select>

      <component :is="opt"></component>
    </div>

    <!--templates-->
    <template id="movie">
      <h1>Movies</h1>
      <ul>
        <li v-for="(item, index) in filmes" :key="item.nome">{{item.nome}}</li>
      </ul>
    </template>

    <template id="song">
      <h1>Songs</h1>
      <ul>
        <li v-for="(item, index) in musicas" :key="item.index">
          {{index}} - {{item.nome}}
        </li>
      </ul>
    </template>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            opt: "",
          };
        },
      });

      app.component("songs", {
        template: "#song",
        data() {
          return {
            musicas: [{ nome: "Youtube" }, { nome: "Apple Music" }],
          };
        },
      });
      app.component("movies", {
        template: "#movie",
        data() {
          return {
            filmes: [{ nome: "Os vingadores" }, { nome: "Transformers" }],
          };
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
