*{color-scheme:dark;}

div, p, h2 {
  display: block; /* default para this elements */
  background: red;
  margin-top: 10px;
}

nav.menu_block a {
  display: block;
}
div.menu {
  width: fit-content;
}

span{
  margin-top: 5px;
}

span.box {
  width: 100px;
  height: 100px;
}

span.a{
  display: inline; /* default para span */
  background: red;
}

span.b{
  display: block;
  background: red;
}

span.c{
  display: inline-block;
  background: red;
}

input{
  width: 300px;
  height: 50px;
}

b{
  background-color: coral;
  padding: 5px;
  font-size: 16px;
}