@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap');

* {
     box-sizing: border-box;
     color-scheme: dark;
   }
   body{
    font-family: 'Ubuntuc', sans-serif;
   }
   
   section {
     max-width: 450px;
     margin:auto;
     display: grid;
     grid-template-rows: 1fr auto;
     grid-template-columns: 1fr 1fr;
     grid-template-areas: "h1  h1"
                         "span  span";
                         
     grid-gap: 5px; 
   }
   section h1{
     grid-area: h1;
     text-align:center;
   }
   
   
   span {
     display: inline-block;
     height: 30px;
     color: black;
     font-weight: bold;
     padding: 8px 25px;
     text-align:center;
     grid-area: span;
     cursor: pointer;
   }
   
   span::selection {
     color: coral;
   }
   
   .w {
     color:#f2f2f2;
   }

   footer{ 
    max-width: 292px;
    margin: auto;
    text-align: center;
    display: flex;
    min-height: 300px;   
    align-items: center;
    justify-content: center;
   }