<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <title>VueJS - Componentes Routers</title>
    <style>
      :root {
        color-scheme: dark;
      }
      .container {
        width: 400px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
      }
      .container a {
        display: block;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h1 href="#">{{Title}}</h1>

        <router-link to="/msongs">msongs</router-link>
        <router-link to="/mmovies">mmovies</router-link>

        <router-view></router-view>
      </div>
    </div>

    <!--templates-->
    <template id="movie">
      <h1>Movies</h1>
      <ul>
        <li v-for="(item, index) in filmes" :keys="filmes.name">
          {{item.nome}}
        </li>
      </ul>
    </template>

    <template id="song">
      <h1>Songs</h1>
      <ul>
        <li v-for="(item, index) in musicas" :key="item.nome">{{item.nome}}</li>
      </ul>
    </template>
    <script>
      // Destructuring
      const { createRouter, createWebHashHistory } = VueRouter;
      const { createApp } = Vue;

      const app = createApp({
        data() {
          return {
            opt: "",
            Title: "VueJS Ninja Way",
          };
        },
      });

      //components
      app.component("songs", {
        template: "#song",
        data() {
          return {
            musicas: [{ nome: "Youtube" }, { nome: "Apple Music" }],
          };
        },
      });
      app.component("movies", {
        template: "#movie",
        data() {
          return {
            filmes: [{ nome: "Os vingadores" }, { nome: "Transformers" }],
          };
        },
      });

      // fazer const Songs = app.component e depois chamar essa const retur error Component is missing template or render function.
      /*
      https://stackoverflow.com/questions/64409157/vue-js-component-is-missing-template-or-render-function
      */
      //solucao de acordo com o stackoverflow chamar assim
      const Songs = app.component("songs");

      //ou adicionar o app.component('name') diretamente no path

      const router = createRouter({
        history: createWebHashHistory(location.pathname),
        routes: [
          { path: "/msongs", component: Songs },
          { path: "/mmovies", component: app.component("movies") },
        ],
      });
      //  history: VueRouter.createWebHashHistory("/#"),
      /*
      app.use(router);
      app.mount("#app");
      //shorthand below
      */
      app.use(router).mount("#app");
    </script>
  </body>
</html>
