:root {
  color-scheme: dark;
}

body {
  text-align: center;
}

.clipboard {
  display: flex;
  margin-block: 10px;
  justify-content: center;
}

.clipboard svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.clipboard input {
  width: 80%;
  color: seagreen;
}
.svgcopyActive {
  color: dodgerblue;
}

nav {
  margin-top: 50px;
}

@media screen and (min-width: 650px) {
  svg {
    width: 50%;
  }
}
