:root {
  color-scheme: dark;
}
nav {
  display: flex;
  justify-content: space-evenly;
  width: 350px;
  margin: auto;
  background: gray;
  padding: 5px;
  color: blueviolet;
}
nav a {
  color: rgb(37, 20, 28);
  text-decoration: none;
}
