<!DOCTYPE html>
<html
  lang="en"
  style="">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <!--  <script src="https://unpkg.com/vue-select@latest"></script> -->

    <!-- Vue Global Build -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Vue SFC  -->
    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>

    <!-- Vue SFC Loader -->
    <script src="./src/sfc-loader.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/vue-select@latest/dist/vue-select.css" />
    <script src="https://unpkg.com/vue-select@beta"></script>
    <style>
      body{
        font-family: Arial, Helvetica, sans-serif;
      }
      /* custom disabled options */
      .vs__dropdown-option--disabled{
        color: red;
        opacity: 0.5;
      }
      .vs__dropdown-option--disabled::after{
        content: ' (inativo)';
      }

      section {
        border: 1px solid;
        max-width: 900px;
        margin: auto;
        margin-block: 10px;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div id="app">
  
      <section>
          <h1>Basic</h1>
          <v-select
          :options="options"
          v-model="selecao"
          label="title">
          <template #header>
            <div style="opacity: 0.8">Top of the component, in the header slot!</div>
          </template>
          <template #no-options> Nenhuma opção encontrada </template>

          <div slot="no-options">No Options Here!</div>
          </v-select>

        <p>seleção: {{selecao}}</p>
      </section>

      <section>
        <h1>Multiple</h1>
        <v-select
          multiple
          v-model="selecionado"
          :options="options"
          :reduce="val => val.code"
          label="title">
          <template #no-options> Nenhuma opção encontrada </template>
        </v-select>

        <p>selecionado: {{selecionado}}</p>
      </section>      

      <section>
        <h2>Autoload and automount by gmapdev</h2>
          <zbutton btn="example A"></zbutton>

          <h1>Ajax example</h1>
          <p>inativando se incluir alguma coisa, melhor no-options select</p>
          <v-select
            transition="vs__fade-leave-active"
            :filterable="false"
            placeholder="Escolher grupos"
            :options="grupos"
            @search="onSearch"
            value="id"
            :selectable="(option) => !option.slug.includes('stakeholders-organizacao')"
            v-model="grupos_selected"
            label="title">
            <template #header>
              <div
                style="opacity: 0.8"
                class="text-white">
                Críterio para busca:
              </div>
            </template>        
          <!--  <template #no-options>Nenhum resutlado encontrado!</template> -->
          <!-- Improving the default no-options text  -->
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No results found for <em>{{ search }}</em
                >.
              </template>
              <em v-else style="opacity: 0.5">2 caracteres para iniciar a busca.</em>
            </template>
          </v-select>
          <p>object selected: {{grupos_selected}}</p>
      </section>

      <section>       
        <h1>Ajax get all itens with filterable true (nao precisa nem declarar)</h1>

        <v-select
          placeholder="Escolher"
          v-model="questions_selected"
          :options="questions"
          label="title"
          >
        </v-select>
        <p>{{questions_selected}}</p>
      </section>
    </div>

    <script src="./src/main.js"></script>
    <script>
      // import components global
      // autoload('Typescript')
      const vueapp = document.querySelector('#app')
      // Returns true if `app` is a Vue application instance
      if (!!app._context) {
        //  app.mount(vueapp)
      }
    </script>
  </body>
</html>
