<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueJS</title>
    <script src="https://unpkg.com/vue@3"></script>
    <style>
      :root {
        color-scheme: dark;
      }
      input {
        display: block;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <p>{{2** 10}}</p>

      <span>{{10 > 5}}</span>

      <p>{{ 10 > 5 ? 'sim' : 'nao'}}</p>

      <input type="text" v-model="mytxt" placeholder="type a text" />
      <p>{{mytxt.split('').reverse().join('')}}</p>
      <hr />
      <p>{{'VueJS'.split('').reverse().join('')}}</p>

      <p>{{message.split('').reverse().join('')}}</p>
      <input
        type="password"
        v-model="senha"
        placeholder="senha"
        v-on:focus="oioi()"
      />
      <!-- isso não funciona
<p>{{if(senha) {return algo } }}</p> -->

      <!-- use ternary expressions-->
      <p>{{senha == '123' ? 'certo' : ''}}</p>
      <p>{{senha == '12345' ? 'certo de novo' : ''}}</p>
      <p>{{senha == '12' ? link : ''}}</p>

      <hr>

      <input type="text" v-model="user" placeholder="username">
      <input type="password" v-model="pass" placeholder="pass">

      <p>{{user == 'admin' && pass == '123' ? link : ''}}</p>


        <ul @click="handlerClick">
          <li>a</li>
          <li>b</li>
          <li>
            <a href="#" @click.native="console.log('link')">About</a>
          </li>
        </ul>

    </div>
    <script>
      Vue.createApp({
        data() {
          return {
          user:'',
          pass: '',
            message: "gmapdev",
            senha: "",
            link: "https://github.com/geraldotech/DevMap",
            mytxt: "",
          };
        },
        methods: {
          oioi() {
            console.log("input click detected");
          },
          handlerClick(){
            console.log('oi')
          }
        },
      }).mount(app);
    </script>
  </body>
</html>
