html {
  background: #181818;
  color: white;
  line-height: 1.5;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  min-height: 50px;
}
button,
nav a {
  cursor: pointer;
  outline: none;
  background: #59114d;
  color: #ece5f0;
  border: 2px solid #ece5f0;
  padding: 5px 15px;
  border-radius: 8px;
}

code {
  background: black;
  color: seagreen;
}

:is(button, a):hover {
  background: #a7088c;
}

button:focus {
  background: #a7088c;
}

/* all popover get this template style */
/* :popover-open {
  position: absolute;
  max-width: 500px;
  width: 100%;
  height: 300px;
 
  inset: unset;
  left: 0;
  top: 250px;
  margin: 0;
  bottom: 70%;
} */

/* by default popover open is center */
:popover-open {
  background: #e98a15;
  max-width: 500px;
  width: 100%;
  height: 300px;
}

@media (max-width: 600px) {
  :popover-open {
    max-width: 300px;
  }
}
/* specific styles by id */
#make3 {
  background: #003b36;
}

#homepage {
  background: dodgerblue;
  color: #181818;
}

#about {
  flex-direction: column;
}
/* adicionar um container para mexer com o flex */
#about .container {
  display: flex;
  flex-direction: column;
  height: 30vh;
}

#about .container h1 {
  flex: 1;
}
