* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

body {
  background-color: black;
  color: white;
  padding: 1rem;
  min-height: fit-content;
  min-height: 100vh;
}
.ChangeLanguage {
  background: #6654da;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  color: white;
  padding: 0.5rem 2rem;
  margin-left: auto;
  font-size: 100%;
  transition: all 0.3s;
}
.ChangeLanguage:hover {
  background: seagreen;
  transition: all 1s ease;
}
.navButton {
  background: #6654da;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem 2rem;
  margin-right: 10px;
  font-size: 100%;
  transition: all 0.3s;
}

.loading {
  margin-top: 2rem;
}

.top-menu{
  display: flex;
  flex-direction: row;
}
.nav-back{
  text-align: center;
  margin-top: 2.5rem;
}