* {
  margin: 0;
  padding: 0; /* reset all ou define body overflow: hidden */
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}
body {
  color: purple;
  font-size: 120%;
  text-decoration: underline white;
}
main {
  text-align: center;
}
body::after {
  /* ::before works either */
  content: '';
  background-image: url('https://i.pinimg.com/736x/ea/80/03/ea8003eda835af024292148060887ed4.jpg');
  background-repeat: no-repeat;
  background-size: 160% 110%;
  background-position: left;
  height: 100%;
  position: absolute;
  width: 100vw;
  top: 0;
  z-index: -1;
  animation: back 25s ease-in-out infinite alternate;
}

@keyframes back {
  to {
    background-position: right;
  }
}
