<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueJS</title>
    <script src="https://unpkg.com/vue@3"></script>
    <style>
      :root {
        color-scheme: dark;
      }
    </style>
  </head>
  <body>
    <div id="app">

      <input type="text" v-model="user" placeholder="username">
      <input type="password" v-model="senha" placeholder="senha">
      

      <p>{{user == 'admin' && senha == '123' ? link : ''}}</p>
    </div>
    <script>
      Vue.createApp({
        data() {
          return {
            senha: '',
            user: '',
            link: "https://github.com/geraldotech/DevMap"
          }        
        },
      }).mount(app);
    </script>
  </body>
</html>
