<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://technotesbr.blogspot.com/favicon.ico"
      rel="icon"
      type="image/x-icon"
    />
    <title>VueJS</title>
    <script src="https://unpkg.com/vue@3"></script>
    <style>
      :root {
        color-scheme: dark;
      }

    </style>
  </head>
  <body>
    <section id="app">

        
      <input type="text" @change="handleChange" />


      <select name="" id="" @change="handleChange">
        <option value="1">one</option>
        <option value="2">two</option>
      </select>
      <p v-if="opt.bar">foo</p>
      <p v-if="opt.lago">lado</p>
      
    </section>  
    <script>
Vue.createApp({
  data(){
    return{
      nome:"",
      opt: { bar: false, lago: false}
    }
  },methods:{
    handleChange(event){         
          
    this.opt.forEach(val => this.val = false);
    const selel = event.target.value;   
       console.log(selel);
       if(selel == 1) this.opt.bar = true;
       if(selel == 2) this.opt.lago = true;
     
       }
  }
}).mount(app);
    </script>
  </body>
</html>
