<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <title>VueJS - Componentes Routers - subRouters</title>
    <style>
      :root {
        color-scheme: dark;
      }
      .container {
        width: 400px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
      }
      .container a {
        display: block;
      }
      div img {
        width: 100%;
        max-width: 50%;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h1 href="#">{{Title}}</h1>
        <p>
          Version children render own component direct - sem components que
          renderiza filhos
        </p>

        <router-link to="/">Home</router-link>
        <router-link :to="{name: 'songs'}">Songs</router-link>
        <router-link :to="{name: 'movies'}">Movies</router-link>

        <router-view></router-view>
      </div>
    </div>

    <!--templates-->
    <template id="movie">
      <h1>Movies</h1>
      <ul>
        <li v-for="(item, index) in filmes" :keys="filmes.name">
          {{item.nome}}
        </li>
      </ul>
    </template>

    <template id="song">
      <h1>Songs</h1>
      <ol>
        <li v-for="(item) in links" :key="item.id">
          <router-link :to="item.carrega">{{item.website}}</router-link>
        </li>
      </ol>

      <!--show /rota-musicas/ content-->
      <router-view></router-view>
    </template>

    <!-- template children Apple -->
    <template id="apple">
      <p>Apple Music Top 10</p>
      <div>
        <img
          src="https://img.grouponcdn.com/deal/4QBCgF7yFG5M9GyKVLnyAA4eRRoy/4Q-700x420/v1/c870x524.jpg"
          alt=""
        />
      </div>
    </template>
    <script>
      // Destructuring
      const { createRouter, createWebHashHistory } = VueRouter;
      const { createApp } = Vue;

      const app = createApp({
        created() {
          console.log(this.$route);
          console.log(this.$router);
        },
        data() {
          return {
            opt: "",
            Title: "VueJS Ninja Way",
            content: "",
          };
        },
      });

      //components
      app.component("songs", {
        template: "#song",
        data() {
          return {
            links: [
              {
                id: 1,
                website: "Apple Music",
                carrega: "/rota-musicas/apple-music",
              },
              {
                id: 2,
                website: "Youtube Music",
                carrega: "/rota-musicas/youtube-music",
              },
            ],
          };
        },
      });
      app.component("movies", {
        template: "#movie",
        data() {
          return {
            filmes: [{ nome: "Os vingadores" }, { nome: "Transformers" }],
          };
        },
      });

      //apple-music

      app.component("apple", {
        template: "#apple",
      });

      const Songs = app.component("songs");
      // String templates
      const NotFound = { template: `not found` };
      const HomePage = { template: `<h1>Home</h1>` };
      const YouMusic = { template: `<h2>Youtube Music String Template</h2>` };

      const router = createRouter({
        history: createWebHashHistory(location.pathname),
        routes: [
          {
            path: "/",
            name: "",
            component: HomePage,
          },
          {
            path: "/rota-musicas",
            name: "songs",
            component: Songs,
            children: [
              {
                path: "apple-music",
                name: "list-all.appleMusic",
                component: app.component("apple"),
                //redirect: "/apple-music",
              },
              {
                path: "youtube-music",
                name: "list-all.YouMusic",
                component: YouMusic,
              },
              {
                path: "/:pathMatch(.*)*",
                name: "NotFound",
                component: NotFound,
              },
            ],
          },
          {
            path: "/rota-filmes",
            name: "movies",
            component: app.component("movies"),
          },
        ],
      });
      history: VueRouter.createWebHashHistory("/#"),
        app.use(router).mount("#app");
    </script>
  </body>
</html>
