* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: calc(100vh - 50px);
  padding: 20px 10px;

  border: 1px solid;
}
:target {
  scroll-margin-top: 50px;
}

header {
  background: coral;
  position: sticky;
  top: 0;
  z-index: 99;
}
nav ul a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
  border: 2px solid white;
  padding: 5px 20px;
  border-radius: 10px;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
footer {
  height: 55px;
  text-align: center;
  font-size: x-large;
}
