<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <style>
      body {
        max-width: 75rem;
        margin: 0 auto;
      }
      #app {
        margin-top: 20px;
      }
      .operadoras {
        padding: 10px;
        margin-top: 20px;
      }
    </style>
    <title>Vue Form</title>
  </head>
  <body>
    <div id="app">
      <v-app>
        <p>
          <a href="https://vuetifyjs.com/en/components/combobox/"
            >https://vuetifyjs.com/en/components/combobox/</a
          >
        </p>
        <v-divider></v-divider>
        <p>
          Contextualizando o combobox, :bindei o color para ser dinâmico de
          acordo com a operadora selecionada
        </p>
        <v-main>
          <v-combobox
            class="operadoras"
            clearable
            label="Selecionar operadora:"
            :items="operadoras"
            v-model="combo"
            item-text="name"
            :hint="`Selecionado: ${combo.name}`"
          ></v-combobox>

          <v-alert :color="combo.color">
            <ul>
              <li>Operadora: <span>{{combo.name}}</span></li>
              <li>GB: <span>{{combo.plano}}</span></li>
            </ul>
          </v-alert>

          <template v-if="combo.name == 'Vivo'">
            <v-combobox
              label="Select Valor recarga"
              :items="[{'valor': 10}, {'valor': 20}, ]"
              item-text="valor"
              v-model="vivosub"
              :hint="`Selecionado: ${vivosub.valor}`"
            >
            </v-combobox>
            <p>{{vivosub}}</p>
          </template>

          <v-checkbox label="alerta" @click="depende = !depende"></v-checkbox>
          <v-alert type="success" v-show="depende"
            >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum,
            perferendis!</v-alert
          >
        </v-main>
      </v-app>
    </div>

    <script src="./main.js"></script>
  </body>
</html>
