body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
    no-repeat;
  background-size: 300% 300%; /* change to    background-size: 30% 300%;  */
  display: flex;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  animation: gradient 10s ease alternate infinite;
}

@keyframes gradient {
  from {
    background-position: 0 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
