*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color-scheme: dark;
}
div img{
    width: 100%;           
    max-width: 80%; 
      text-align: center;
}
.box{
    width: 350px;
    height: 250px;            
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
img:hover{

}
#container{
    display: grid;
    grid-template-rows: repeat(11, 1fr); 
    grid-template-columns: repeat(4, 1fr);           
    width: 100vw;
    max-width: 950px;
    margin: 30px auto;            
    height: -webkit-fill-available;     
          
}
footer {
    grid-row: 2;
    grid-column: 1/2;
    background-color: coral;
}
figure{
    width: fit-content;
    text-align: center;
    
}
figcaption{
    background: dodgerblue;
    width: fit-content;
    color: black;
    margin: auto;
    padding: 2px;
    border-radius: 10px;
}
button{
    outline: none;
    margin-top: 10px;            
}


@media screen and (max-width: 700px){
    #container{
        display: grid;
    grid-template-rows: repeat(10, 1fr); 
    grid-template-columns: repeat(2, 1fr);     

    }
    div img{        
    width: 100%;
            
}
.box{
    width: 150px;
    height: 150px;            
}

}