* {
  box-sizing: border-box;
  font-size: 105%;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #0f172a;
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem;
  color: #e2e8f0;
}

hr,
p {
  margin-block: 20px;
}

.hide {
  display: none;
}
