:root {
  color-scheme: dark;
}

body {
  max-width: 70rem;
  margin: 0 auto;
}

.snipped {
  background: rgb(68, 71, 77);
  border-radius: 8px;
  font-family: sans-serif;
  margin-top: 20px;
}

.snipped p {
  margin: 0;
  padding: 5px 0;
  text-align: center;
}

.clipboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0e1425;
  position: relative;
}

.clipboard img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.clipboard button {
  outline: none;
  border: none;
  cursor: pointer;
  background: #41467b;
  font-size: 0.7em;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  right: 0;
}
.clipboard button:hover {
  background: rgb(0, 84, 204);
}

.clipboard pre {
  color: seagreen;
  overflow: auto;
  /*  white-space: nowrap; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

.clipboard pre[inline] {
  overflow: auto;
  color: hsl(204 100% 59%);
  padding-block: 6px;
  padding: 0 10px;
}

.clipboard pre[block] {
  white-space: break-spaces;
  line-height: 1.5;
  color: #2c70ff;
}

footer {
  min-height: 100px;
}
