<!DOCTYPE html>
<html lang="en" style="color-scheme: dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueJS2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
      html {
        font-size: 130%;
      }
      input {
        display: inline-block;
      }
      label,
      input {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <p>
        Computed properties are by default getter-only. If you attempt to assign
        a new value to a computed property, you will receive a runtime warning.
        In the rare cases where you need a "writable" computed property, you can
        create one by providing both a getter and a setter:
      </p>
      <input type="text" v-model="firstName" />
      <input type="text" v-model="lastName" />
      <p>{{fullName}}</p>

      <hr />
      <input type="text" v-model="rtx" />
      <p>{{padrao}}</p>
    </div>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          firstName: "",
          lastName: "",
          rtx: "",
        },
        //https://vuejs.org/guide/essentials/computed.html
        computed: {
          fullName: {
            // getter
            get() {
              //return this.firstName + ' ' + this.lastName
              if (this.firstName == `Gera`) {
                return (this.lastName = "Filho");
              }
            },
            // setter
            set(newValue) {
              // Note: we are using destructuring assignment syntax here.
              [this.firstName, this.lastName] = newValue.split(" ");
            },
          },
          padrao() {
            if (this.rtx.length == 0) {
              return "";
            }
            return 2 ** this.rtx;
          },
        },
      });
    </script>
  </body>
</html>
