<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <title>VueJS - Componentes Routers - subRouters</title>
    <style>
      :root {
        color-scheme: dark;
      }
      .container {
        max-width: 800px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
      }
      .container a {
        display: block;
      }
      div img {
        width: 100%;
        max-width: 50%;
      }
      .sidebar{
        width: 100%;
        height: 100px;
        background: rgb(31, 55, 75);
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h1 href="#">{{Title}}</h1>
        <p>
         
          <ins style="color: dodgerblue"> <code>Version 3.0</code></ins>
            children render direct own component using an Array.name to get
            currently path</ins
          >
        </p>

        <router-link to="/">Home</router-link>
        <router-link :to="{name: 'songs'}">Songs</router-link>
        <router-link :to="{name: 'movies'}">Movies</router-link>

        <router-view></router-view>
      </div>
    </div>

    <!--templates-->
    <template id="movie">
      <h1>Movies</h1>
      <ul>
        <li v-for="(item, index) in filmes" :keys="filmes.name">
          {{item.nome}}
        </li>
      </ul>
    </template>

    <template id="song">
      <h1>Songs</h1>
      <div v-if="sidebar" class="sidebar">
       <h1>My sidebar Songs</h1>
       <p>using `props`</p>
      </div>

      <router-link :to="{name: 'apple'}">scratch get v-for names</router-link>
      <ul>
        <li v-for="(item) in onlyName" :key="item.id">
          <router-link :to="{name: item.nome}">{{item.site}}</router-link>
        </li>
      </ul>
      <!-- will display /rota-musicas/ content -->

      <router-view></router-view>


    </template>

    <!-- template children Apple -->
    <template id="apple">
      <p>Apple Music Top 10</p>
      <div>
        <img
          src="https://img.grouponcdn.com/deal/4QBCgF7yFG5M9GyKVLnyAA4eRRoy/4Q-700x420/v1/c870x524.jpg"
          alt=""
        />
      </div>
    </template>

    <script>
      // Destructuring
      const { createRouter, createWebHashHistory } = VueRouter;
      const { createApp } = Vue;

      const app = createApp({
        created() {
          //this.$router.push({ name: "apple" });
        },
        data() {
          return {
            opt: "",
            Title: "VueJS Ninja Way",
            content: "",
          };
        },
      });

      //components
      app.component("songs", {
        template: "#song",
        created(){
          console.log(this.sidebar)
        },
        props: {
          sidebar: Boolean,
        },
        data() {
          return {
            onlyName: [
              { id: 1, site: "Apple", nome: "apple" },
              { id: 2, site: "YouTube", nome: "youtube" },
            ],
          };
        },
      });
      app.component("movies", {
        template: "#movie",
        data() {
          return {
            filmes: [{ nome: "Os vingadores" }, { nome: "Transformers" }],
          };
        },
      });

      //apple-music
      app.component("apple", {
        template: "#apple",
      });

      const Songs = app.component("songs");
      // String templates
      const HomePage = { template: `<h1>Home</h1>` };
      const YouMusic = { template: `<h2>Youtube Music String Template</h2>
        <div>
          <img src="https://t4.ftcdn.net/jpg/03/22/05/03/360_F_322050377_yW8AC9NF5q3m9cB1aYw2n0HBWcmozJDo.jpg" alt="img" />
          </div>` };
      const NotFound = { template: `not found` };
      //sub rotas

      const router = createRouter({
        history: createWebHashHistory(location.pathname),
        routes: [
          {
            path: "/",
            name: "",
            component: HomePage,
          },
          {
            path: "/my-musicas",
            name: "songs",
            component: Songs,
            props:{sidebar: true},
            children: [
              {
                path: "apple-music",
                name: "apple",
                component: app.component("apple"),
                //redirect: "/apple-music",
              },
              {
                path: "youtube-music-premium",
                name: "youtube",
                component: YouMusic,
              },
              {
                path: "/:pathMatch(.*)*",
                name: "NotFound",
                component: NotFound,
              },
            ],
          },
          {
            path: "/rota-filmes",
            name: "movies",
            component: app.component("movies"),
          },
        ],
      });
      history: VueRouter.createWebHashHistory("/#"),
        app.use(router).mount("#app");
    </script>
  </body>
</html>
