.form {
  background: #333;
}

.form form {
  height: 150px;
}

.form input {
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 8px;
  padding: 8px;
}

.form p {
  color: dodgerblue;
  font-size: 1.5rem;
}
