:root {
  color-scheme: dark;
}

img {
  max-width: 20%;
}

figure:has(img) img {
  animation: gotop 5s ease-in-out forwards;
  position: absolute;
  right: 0;
  bottom: 0;
}

@keyframes gotop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-500px);
  }
}

.fly {
  animation: fly 5s ease-in-out forwards; /* forwards go and stay */
}

@keyframes fly {
  to {
    transform: translateX(calc(100vw - 200px));
  }
}
