@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}


h1 {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

section {
  border: 1px solid;
  padding: 0.5rem;
  margin-block: .7rem;

}

section > h1:first-child, h1 > a {
  text-decoration: bold;
  font-size: 1.4rem;
  text-decoration: underline;
  color: coral;
}

