//variables
$h1: rgb(122, 28, 177);

//p ou others
$pc: dodgerblue;
$ps: 1.6rem;
$pa: bold;

//header
$header: gray;
$w: 400px;
$h: 200px;
$border: 3px solid black;

//header p
$hp: purple;
$hs: 1.2rem;

//headerh1
$hh1: mediumseagreen;
$align: center;