#root {
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;
}
footer {
  margin-top: 400px;
}

.green {
  color: green;
}

.lg {
  font-size: 20px;
  padding: 13px 25px;
}

.small {
  font-size: 10px;
}

button {
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  margin: 5px;
  background-color: #e5e7eb;
  color: #000;
  cursor: pointer;
}
button:hover:not([disabled]) {
  box-shadow: 0 0 1px 1px #fff;
  color: #fff;
  transition: box-shadow 500ms;
}

.danger {
  border: 3px solid red;
  color: red;
}
.success {
  border: 3px solid green;
  color: green;
}

.warning {
  border: 3px solid coral;
  color: coral;
}

.container {
  background: #333;
  height: auto;
  padding: 10px;
  margin-block: 50px;
}

.large {
  height: auto;
}

form input,
input {
  display: inline-block;
  margin: 10px 5px;
  border: 0.8px solid #222;
  border-radius: 8px;
  padding: 8px;
}

form p {
  color: dodgerblue;
  font-size: 1.5rem;
}
input:where([type='submit'], [type='reset']) {
  cursor: pointer;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 1rem;
  max-width: 500px;
  margin: auto;
}

.balance {
  background: seagreen;
  padding: 2vh;
}

[disabled] {
  background: #433f3f;
}
