<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueJS2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/vue-select@latest/dist/vue-select.css"
    />
<style>
/* dark mode changes */
  :root{
    --vs-dropdown-option--active-bg:dodgerblue;
    --vs-dropdown-bg: #181818;
    --vs-dropdown-color: #fff;
    --vs-search-input-color: dodgerblue;
    --vs-search-input-bg: #181818;
    --vs-selected-color: #fff;
    color-scheme:dark;
      }

</style>
  </head>
  <body>
    <div id="app">
      <v-select  v-model="selected" :options="items" ></v-select>
      </v-select>
      <p>{{selected.id}}</p>

      <hr />
  <section>
    <v-select
    style="background: #282c34; padding:1rem; border-radius: 0.3rem;"
    v-model="selected2"
   
    :options="[{label: 'Canada', code: 'ca'}, {label: 'USA', code: 'ca'}]"
  ></v-select>
  <p>{{selected2}}</p>
  </section>
    </div>
    <script>
      Vue.component("v-select", VueSelect.VueSelect);
      const vm = new Vue({
        el: "#app",
        data: {
          selected: "",
          selected2: "",
          etiqueta: "label",
          items: [
            { id: 1, label: "Canada", code: "ca" },
            { id: 2, label: "Canada 2", code: "ca2" },
          ],
        },
      });
    </script>
  </body>
</html>
